{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if extra.usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Contact/Template' %}
  {% set template_file = 'bootstrap/admin/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/bootstrap/css/admin.min.css" media="screen, projection" />
{% endblock stylesheet %}
{% block title %}{{ 'Contact Administration - Tags'|trans }}{% endblock %}

{% block content %}
  <div class="container">
    
    {% include '@phpManufaktur/Contact/Template/default/bootstrap/admin/toolbar.twig' with {toolbar: extra.toolbar} %}
    
    <div class="height-15"></div>
    {% if form.title_id.vars.value > 0 %}
      <h1>{{ 'Edit the title %title_identifier%'|trans({'%title_identifier%':form.title_identifier.vars.value}) }}</h1>
    {% else %}
      <h1>{{ 'Create a new title'|trans }}</h1>
    {% endif %}
    {% include '@phpManufaktur/Contact/Template/default/bootstrap/pattern/admin/simple/edit.title.twig' %}

  </div>
{% endblock content %}
