{#
  Contact

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if extra.usage == 'framework' %}
  {% set template_namespace = '@phpManufaktur/Basic/Template' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_namespace = '@phpManufaktur/Contact/Template' %}
  {% set template_file = 'bootstrap/admin/body.twig' %}
{% endif %}
{% extends getTemplateFile(template_namespace, template_file) %}
{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ MANUFAKTUR_URL }}/Contact/Template/default/bootstrap/css/admin.min.css" media="screen, projection" />
{% endblock stylesheet %}
{% block title %}{{ 'Contact Administration - Categories'|trans }}{% endblock %}

{% block content %}
  <div class="container">
    {% include '@phpManufaktur/Contact/Template/default/bootstrap/admin/toolbar.twig' with {toolbar: extra.toolbar} only %}
    <div class="height-15"></div>
    <div class="text-right">
      <a class="btn btn-default" role="button" href="{{ FRAMEWORK_URL ~ route.create }}">{{ 'Add a new category'|trans }}</a>
    </div>
    <div class="height-15"></div>
    {% include '@phpManufaktur/Contact/Template/default/bootstrap/pattern/admin/simple/list.category.twig' %}
  </div>
{% endblock content %}
